.content {
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--gray-light-2);
}

.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.nav {	
	display: flex;
	align-items: center;
	padding: 20px 0;
	justify-content: space-between;
}

.logo {
	font-family: var(--open-sans);
	font-weight: bold;
	font-size: 24px;
	line-height: 170%;
	text-decoration: none;
	color: var(--dark);
}

.whatsapp {
	display: flex;
	align-items: center;
}

.whatsapp img {
	margin-right: 13px;
}

.icons {
	display: flex;
	align-items: center;
}

.icons img {
	margin-left: 12px;
}

.menuitem {
	font-weight: normal;
	font-size: 16px;
	line-height: 190%;
	text-decoration: none;
	margin-right: 24px;
	color: var(--dark);
}

.menuitem:hover {
	color: var(--sea);
}

.small_menu {
	position: relative;
	display: none;
	justify-content: space-between;
	min-height: 60px;
	align-items: center;
}

.small_intro_logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	
	font-family: var(--open-sans);
	font-weight: bold;
	font-size: 24px;
	line-height: 170%;
}

.small_menu_icons {
	display: flex;
	align-items: center;
}

.small_menu_icons img {
	margin-left: 24px;
	cursor: pointer;
}

.small_menu_icons img:hover {
	opacity: .7;
}

.popup_menu {
	background-color: transparent;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 1023px) {
	.content {
		height: auto;
	}

	.nav {
		display: none;
	}

	.small_menu {
		display: flex;
	}
}

@media screen and (max-width: 599px) {
	.small_whatsapp {
		display: none;
	}

	.small_menu_icons img {
		margin-left: 12px;
	}
}
