.content {
	position: relative;
}

.content:hover {
	opacity: .8;
}

.count {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: var(--sea);
	border-radius: 100px;
	width: 15px;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}

