.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding: 70px 0;
}

.tag {
	font-size: 16px;
	line-height: 190%;
	border: 2px solid var(--steel-dark);
	border-radius: 100px;
	padding: 5px 25px;
	cursor: pointer;
	margin-right: 15px;
	background: none;
}

.tags {
	margin-top: 50px;
}

.tab_active {
	background: var(--steel-dark);
}

.tag:hover {
	filter: drop-shadow(0px 4px 16px rgba(88, 125, 252, 0.4));
}

.cards {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}

	.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 1023px) {
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media screen and (max-width: 500px) {
	.tags {
		display: flex;
		justify-content: space-between;
	}

	.tag {
		font-size: 14px;
		line-height: 140%;
		padding: 5px 20px;
		margin: 0;
	}

}

@media screen and (max-width: 424px) {
	.tags {
		display: flex;
		flex-direction: column;
	}

	.tag {
		margin-bottom: 10px;
	}

}