.content {
	background: var(--dark);
}

.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding: 80px 0;
}

.inner h2 {
	color: var(--gray-light-2);
}

.form {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.form input {
	outline: none;
	background: var(--gray-light-2);
	border-radius: 160px;
	border: none;
	font-size: 16px;
	width: 343px;
	text-align: center;
}

.submit {
	font-size: 16px;
	line-height: 190%;
	color: var(--dark);
	text-decoration: none;
	background: var(--gradient);
	background-color: var(--sea);
	border-radius: 200px;
	border: none;
	width: 343px;
}

.submit:hover {
	background: var(--gradient-reverse);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.submit:active {
	background: var(--sea);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.selector {
	position: relative;
	width: 343px;
	margin: 0 20px;
}

.selector_default {	
	background: var(--steel-light);
	border-radius: 160px;
	border: none;
	width: 100%;
	font-size: 16px;
	line-height: 190%;
	text-align: center;
	padding: 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selector_list {	
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0 0 16px 16px;
	overflow: hidden;
	z-index: 1025;
	margin-top: 0px;
}

.selector_item {		
	font-size: 16px;
	line-height: 190%;
	padding: 8px 0;
	background: var(--gray-light-2);
}

.selector_item:hover {	
	background: var(--steel-light);
}

.opened {
	background-color: var(--primary);
	color: var(--gray-light-2);
	border-radius: 16px 16px 0 0;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 767px) {

	.form {
		display: flex;
		flex-direction: column;
	}

	.form input {
		padding: 12px 0px;
		width: 100%;
		margin: 0px;
	}

	.submit {
		padding: 8px 0px;
		width: 100%;
		margin-top: 16px;
	}

	.selector {
		width: 100%;
		margin: 0;
		margin-top: 16px;
	}
	
}