.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.link {
	text-decoration: none;
}

.title {
		
	font-family: var(--pt-sans);
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 170%;
}

.card {
	width: 310px;
	margin-top: 24px;
	padding: 8px;
	text-decoration: none;
	min-height: 350px;
	display: flex;
	flex-direction: column;
}

.pic {
	position: relative;
	padding-top: 63%;
	overflow: hidden;
	border-radius: 8px;
}

.img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

.news {
	display: grid;
	grid-template-columns: repeat(auto-fit, 310px);
	justify-content: space-between;
}

.heading {	
	font-size: 16px;
	line-height: 190%;
	font-style: normal;
	font-weight: normal;
	color: var(--dark);
	margin-top: 8px;
	flex-grow: 1;
	display: -moz-box;
}

.date {
	margin-top: 16px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 190%;

	color: var(--gray-dark);
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 692px) {
	.news {
		justify-content: center;
	}
}