
.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.home_link {
	font-size: 16px;
	line-height: 190%;
	color: var(--primary);
	text-decoration: none;
}

.home_link:hover {
	text-decoration: underline;
}


.home_link img {
	margin-right: 15px;
}

.section {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.bonuses {
	width: 310px;
	background-color: var(--steel-light);
	padding: 16px;
	border-radius: 16px;
}

.bonuses h3 {	
	font-size: 24px;
	line-height: 170%;
	margin-bottom: 8px;
	text-align: center;
}

.bonus {
	font-size: 16px;
	line-height: 190%;
	margin-top: 16px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.bonus p {
	width: 85%;
}

.round {
	display: block;
	width: 8px;
	height: 8px;
	background-color: var(--primary);
	border-radius: 20px;
	margin-right: 16px;
	margin-left: 8px;
}

.blue {
	color: var(--primary);
}

.cart {
	width: calc(90% - 310px);
}

.cart h2 {
	color: var(--dark);
	text-align: start;
	font-size: 32px;
	line-height: 170%;
	margin: 25px 0 40px;
}

.empty h3 {	
	font-size: 20px;
	line-height: 200%;
}

.empty p {	
	font-size: 16px;
	line-height: 190%;
	color: var(--gray-dark);
	margin-top: 8px;
}

.to_catalog {
	display: block;
	width: 240px;
	text-align: center;
	border: 2px solid var(--primary);
	border-radius: 100px;
	font-size: 16px;
	line-height: 190%;
	color: var(--dark);
	text-decoration: none;
	margin-top: 16px;
	padding: 5px;
}

.to_catalog:hover {	
	box-shadow: 0px 4px 16px rgba(88, 125, 252, 0.4);
}

.extra {
	margin-top: 40px;
}

.extra_cards {
	display: grid;
	grid-template-columns: 310px 310px 310px;
	gap: 25px;
	justify-items: flex-start;
}

.heading {		
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 170%;
}

.switch {	
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 190%;
	background-color: transparent;
	padding: 9px 24px;
	border: 2px solid var(--steel-dark);
	border-radius: 100px;
	margin-right: 16px;
}

.switches {
	margin-top: 20px;
}

.switch_active {
	background: var(--steel-dark);
	border: 2px solid var(--steel-dark);
}

.switch:hover {
	background: var(--steel-light);
	border: 2px solid var(--steel-light);
	filter: drop-shadow(0px 4px 16px rgba(88, 125, 252, 0.4));
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 1220px) {
	.section {
		flex-direction: column;
	}

	.cart {
		order: 1;
	}

	.bonuses {
		width: 100%;
		margin-top: 24px;
	}

	.group {
		width: 48%;
	}

	.text {
		display: flex;
		justify-content: space-between;
	}

	.cart {
		width: 100%;
	}
}

@media screen and (max-width: 1100px) {
	.extra_cards {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
}


@media screen and (max-width: 767px) {
	.text {
		flex-direction: column;
	}

	.group {
		width: 100%;
	}

	.extra_cards {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

@media screen and (max-width: 530px) {
	.switches {
		display: flex;
		flex-direction: column;
	}

	.switch {
		margin: 0 0 8px 0;
	}
}