.trust {
	padding: 60px 0 120px;
}

.trust__inner {
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
}

@media screen and (max-width: 1023px) {
	
	.trust__inner {
		width: 100%;
	}

	.trust {
		padding: 60px 0 80px;
	}
}