.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding: 70px 0 120px;
}

.form {
	display: flex;
	flex-direction: column;
	width: 343px;
	position: absolute;
	left: 34px;
	top: 55%;
}

.left {
	display: inline-block;
	position: relative;
	width: auto;
	z-index: 5;
}

.form input {
	outline: none;
	background: var(--gray-light-2);
	border-radius: 160px;
	border: none;
	padding: 8px 0;
	font-size: 16px;
	text-align: center;
}

.submit {
	font-size: 16px;
	line-height: 190%;
	color: var(--dark);
	text-decoration: none;
	background: var(--gradient);
	background-color: var(--sea);
	border-radius: 200px;
	padding: 5px 0;
	width: 100%;
	border: none;
	margin-top: 20px;
}

.submit:hover {
	background: var(--gradient-reverse);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.submit:active {
	background: var(--sea);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.blue {
	color: var(--primary);
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right {
	padding: 0 200px 0 0;
}

.text_item {
	display: flex;
	align-items: center;
}

.round {
	display: flex;
	align-items: center;
	margin: 25px 15px 0 0 !important;
}

.right p {
	font-size: 20px;
	line-height: 200%;
	margin-top: 20px;
}

.round {
	display: block;
	width: 8px;
	height: 8px;
}

.heading {
	position: absolute;
	top: 25%;
	right: 0;
	z-index: 3;
	width: 100%;
	background: var(--steel-light);
	box-shadow: 0px 4px 16px rgba(88, 125, 252, 0.4);
	border-radius: 64px;
	text-align: end;
	padding: 15px 250px 15px 0;
}

.iphone_small {
	display: none;
}

.selector {
	position: relative;
	width: 343px;
}

.selector_default {	
	background: var(--steel-light);
	border-radius: 160px;
	border: none;
	width: 100%;
	font-size: 16px;
	line-height: 190%;
	text-align: center;
	padding: 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.selector_list {	
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0 0 16px 16px;
	overflow: hidden;
	z-index: 1025;
	margin-top: 0px;
}

.selector_item {		
	font-size: 16px;
	line-height: 190%;
	padding: 8px 0;
	background: var(--gray-light-2);
}

.selector_item:hover {	
	background: var(--steel-light);
}

.opened {
	background-color: var(--primary);
	color: var(--gray-light-2);
	border-radius: 16px 16px 0 0;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}

	.right {
		padding: 0;
	}	
}

@media screen and (max-width: 1160px) {

	.form {
		width: 215px;
		left: 15px;
	}

	.selector {
		position: relative;
		width: 100%;
	}

	.heading {
		width: 80%;
		padding: 15px 10%;
		top: 15%;
	}

	.iphone {
		display: none;
	}

	.iphone_small {
		display: inline-block;
	}

	.right {
		padding-top: 50px;
	}
}

@media screen and (max-width: 767px) {

	.inner {
		flex-direction: column;
	}
	
	.heading {
		position: relative;			
		font-size: 24px;
		line-height: 150%;
		
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.right {
		padding-top: 20px;
		
	}

	.container {
		padding: 70px 0 60px;
	}

	.right p {
		margin-top: 16px;
		font-size: 18px;
		line-height: 200%;
	}

}