.card {
	width: 310px;
	margin-top: 40px;
	border-radius: 16px;
	transition: .15s;
	border: 2px solid transparent;
}

.card:hover {
	border: 2px solid var(--steel-dark);

	box-shadow: 0px 4px 16px rgba(88, 125, 252, 0.4);
}

.card_img {
	height: 230px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tag {
	position: absolute;
	left: 8px;
	top: 8px;
	background-color: var(--gray-dark);
	color: var(--gray-light-2);
	font-family: var(--ubuntu);
	font-weight: bold;
	font-size: 12px;
	line-height: 150%;
	padding: 3px 16px;
	border-radius: 100px;
	text-transform: uppercase;
}

.card_inner {
	padding: 10px;
}

.card_inner h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 190%;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.info a {
	text-decoration: none;
	color: var(--primary);
	font-size: 14px;
	line-height: 190%;
	cursor: pointer;
}

.info a:hover {
	text-decoration: underline;
}

.sum {
	font-size: 16px;
	line-height: 190%;
	padding: 2px 0;
	border-radius: 100px;
	border: 2px solid var(--gray-dark);
	background-color: var(--gray-light-2);
	width: 47%;
	text-align: center;
}

.days {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.days_button {	
	font-size: 16px;
	line-height: 190%;
	border-radius: 100px;
	background-color: transparent;
	border: 2px solid var(--steel-dark);
	padding: 0 8px;
}

.days_button:hover {
	background-color: var(--steel-light);
	border: 2px solid var(--steel-light);
}

.days_button_active {	
	background-color: var(--steel-dark);
	border: 2px solid var(--steel-dark);
}

.cost {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.cart {
	background-color: var(--primary);
	width: 47%;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--gray-light-2);
	padding: 0 10px;
}

.cart:hover {
	background-color: #2F57E0;
}

.cart_opened {
	background-color: var(--primary);
	width: 47%;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--gray-light-2);
	padding: 0 5px;
}

.cart_opened button {
	background: none;	
	color: var(--gray-light-2);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.selected {
	border: 2px solid var(--primary);
}

.selected:hover {
	border: 2px solid var(--primary);
}

.desc {		
	color: var(--gray-dark);
	font-size: 14px;
	line-height: 190%;
}

.noDays {
	margin-top: 62px;
}

.like {
	position: absolute;
	top: 8px;
	right: 8px;
	background-color: transparent;
}