.content {
	background-color: var(--dark);
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	text-align: center;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content p {
	margin: 0 20px;
	font-size: 32px;
	line-height: 170%;
	font-family: var(--pt-sans);
	color: var(--gray-light-2);
}

.button {
	display: block;
	font-size: 16px;
	line-height: 190%;
	color: var(--dark);
	text-decoration: none;
	background: var(--gradient);
	background-color: var(--sea);
	border-radius: 200px;
	margin: 0 20px;
	padding: 5px 120px;
}

.button:hover {
	background: var(--gradient-reverse);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.button:active {
	background: var(--sea);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

@media screen and (max-width: 600px) {
	.content p {
		width: 100%;
	}

	.button {
		width: 100%;
		margin-top: 10px;
	}

	.content {
		flex-direction: column;
	}
}