.content {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
}

.container {
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
}

.inner {
	background-color: var(--gray-light-2);
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;
}

.close {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	padding: 10px 30px;
}

.link {
	padding: 10px 30px;
	display: flex;
	align-items: center;
	
	font-size: 16px;
	line-height: 190%;
	text-decoration: none;
	color: var(--dark);
}

.link img {
	margin-right: 8px;
}

.link:hover {
	background-color: var(--steel-light);
}

.close:hover {
	background-color: var(--steel-light);
}