.content {
	padding: 140px 0;
}

.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.item {
	display: flex;
}

.slider {
	width: 50%;
	position: relative;
	
}

.item:nth-child(3) .slider {
	order: 2;
}

.item:nth-child(7) .slider {
	order: 2;
}

.item .slider:after {
	display: block;
	content: "";
	width: calc(100% - 30px);
	height: calc(100% - 40px);
	position: absolute;
	right: 40px;
	top: -20px;
	border: 2px solid var(--primary);
	border-radius: 16px;
}

.item:nth-child(3) .slider:after {
	display: block;
	content: "";
	width: calc(100% - 30px);
	height: calc(100% - 40px);
	position: absolute;
	right: -10px;
	top: -20px;
	border: 2px solid var(--primary);
	border-radius: 16px;
}

.item:nth-child(7) .slider:after {
	display: block;
	content: "";
	width: calc(100% - 30px);
	height: calc(100% - 40px);
	position: absolute;
	right: -10px;
	top: -20px;
	border: 2px solid var(--primary);
	border-radius: 16px;
}

.text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 20px 20px;
}

.text p {	
	font-size: 20px;
	line-height: 200%;
}

.number {
	font-family: var(--ubuntu);
	font-weight: 500;
	font-size: 64px;
	line-height: 100%;

	color: var(--steel-light);
}

.link_item {
	display: block;
	margin: 80px 0 100px;
	text-align: center;
}

.wrapper {
	height: 100%;
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.slider img {
	object-fit: cover;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}

	.item .slider:after {
		width: calc(100% - 20px);
	}

	.item:nth-child(3) .slider:after {
		width: calc(100% - 20px);
	}

	.item:nth-child(7) .slider:after {
		width: calc(100% - 20px);
	}
}

@media screen and (max-width: 1023px) {

	.item .slider:after {
		max-height: 304px;
	}

	.item:nth-child(3) .slider:after {
		max-height: 304px;
	}

	.item:nth-child(7) .slider:after {
		max-height: 304px;
	}

	.text h2 {
		font-size: 28px;
		line-height: 170%;
	}
}

@media screen and (max-width: 767px) {

	.item {
		flex-direction: column;
	}

	.slider {
		width: 100%;
	}

	.item .slider:after {
		display: none;
	}

	.item:nth-child(3) .slider:after {
		display: none;
	}

	.item:nth-child(7) .slider:after {
		display: none;
	}

	.content {
		padding: 80px 0;
	}

	.text {
		margin-top: 30px;
	}

	.number {
		font-size: 50px;
	}

	.text h2 {
		margin-top: 20px;
		font-size: 24px;
		line-height: 150%;
	}

	.text p {
		margin-top: 25px;
		font-size: 16px;
		line-height: 190%;
	}

	.link_item {
		margin: 30px 0 30px;
	}

	.item:nth-child(3) .slider {
		order: 0;
	}

	.item:nth-child(7) .slider {
		order: 0;
	}

}