.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding: 40px 0;
	color: var(--gray-light-2);
	z-index: 2;
}

.content {
	position: relative;
	overflow: hidden;
	min-height: 950px;
}

.content::after {
	display: block;
	content: "";
	background: var(--dark);
	position: absolute;
	width: 1900px;
	height: 950px;
	z-index: 1;
	left: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	transform: translate(-50%);
	border-radius: 50%;
} 

.slide_img {
	position: relative;
	height: 100%;
	width: 100%;
}

.img {
	position: absolute;
	width: 70%;
	top: -10px;
	left: 50%;
	transform: translate(-50%);
}

.title {
	font-family: var(--pt-sans);
	font-size: 32px;
	line-height: 170%;
	text-align: center;
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
	
	color: var(--gray-light-2);
}

.slide_text {
	width: 600px;
	margin: 20px auto 60px;
	text-align: center;
}

.slide_text h3 {
	font-size: 24px;
	line-height: 170%;
}

.slide_text p {
	font-size: 16px;
	line-height: 190%;
	margin-top: 20px;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 1350px) {
	.img {
		padding-top: 1%;
		width: 75%;
	}
}

@media screen and (max-width: 1200px) {
	.img {
		width: 85%;
	}
}

@media screen and (max-width: 1080px) {
	.img {
		padding-top: 3%;
	}
}

@media screen and (max-width: 1025px) {
	.img {
		width: 82%;
		padding-top: 4.5%;
	}
}

@media screen and (max-width: 970px) {
	.img {
		padding-top: 6%;
	}
}

@media screen and (max-width: 920px) {
	.img {
		padding-top: 7%;
	}
}

@media screen and (max-width: 880px) {
	.img {
		padding-top: 8%;
	}
}

@media screen and (max-width: 880px) {
	.img {
		padding-top: 9%;
	}
}

@media screen and (max-width: 820px) {
	.img {
		padding-top: 10%;
	}
}

@media screen and (max-width: 790px) {
	.img {
		padding-top: 11%;
	}
}

@media screen and (max-width: 769px) {
	.img {
		width: 82%;
		padding-top: 8.5%;
	}

	.content {
		min-height: 800px;
	}

	.content::after {
		width: 1200px;
		height: 800px;
	} 
}

@media screen and (max-width: 767px) {
	.content::after {
		display: none;
	} 

	.content {
		background-color: var(--dark);
		min-height: 0;
	}

	.slide_text {
		width: 100%;
		margin: 20px auto 20px;
	}

	.img {
		width: 100%;
		padding-top: 1%;
	}

	.slide_img {
		padding-top: 55%;
	}

	.title {		
		font-size: 24px;
		line-height: 150%;
	}
	
	.slide_img {		
		border-radius: 24px;
		overflow: hidden;
		border: 2px solid var(--white);
	}

	.slide_text h3 {
		font-size: 20px;
		line-height: 170%;
	}

	.slide_text p {
		font-size: 14px;
		line-height: 140%;
	}
}

@media screen and (max-width: 600px) {
	.img {
		padding-top: 2%;
	}
}

@media screen and (max-width: 400px) {
	.img {
		padding-top: 3%;
	}
}
