.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding-bottom: 60px;
}

.heading {	
	font-size: 32px;
	line-height: 170%;
	color: var(--primary);
	font-family: var(--pt-sans);
	font-weight: normal;
	text-align: center;
	margin-bottom: 40px;
}

.paragraph {	
	font-size: 16px;
	line-height: 190%;
	text-align: center;
}

.card:last-of-type {
	margin-bottom: 0px;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin-bottom: 80px;
}

.card:nth-child(2) .text {
	order: 2;
}

.card:nth-child(2) .pic:after {
	top: -15px;
	left: -15px;
}

.text {
	width: 48%;
	height: 100%;
}

.pic {
	width: 48%;
	position: relative;
	padding-bottom: 30%;
	display: flex;
	align-items: center;
}

.pic:after {
	position: absolute;
	border: 2px solid var(--primary);
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: -15px;
	right: -15px;
	border-radius: 24px;
	z-index: 20;
}

.img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;	
	border-radius: 24px;
	z-index: 30;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 1023px) {
	.card {
		flex-direction: column;
	}
	.text {
		width: 100%;
	}

	.pic {
		position: relative;
		width: 445px;
		height: 311px;
		padding-bottom: 0px;
		border-radius: 24px;
		overflow: hidden;
	}

	.img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}

	.card .text {
		order: 1;
	}

	.card:nth-child(2) .pic:after {
		top: -15px;
		right: -15px;
		bottom: 0;
		left: 0;
	}

	.heading {					
		font-size: 28px;
		line-height: 170%;
		margin: 30px 0;
	}
}

@media screen and (max-width: 767px) {
	.container {
		padding-top: 60px;
	}
}

@media screen and (max-width: 500px) {
	.pic {
		position: relative;
		width: 100%;
	}
}