.like {
	width: 32px;
	height: 32px;
	background: no-repeat center/cover url('../../public/images/like.svg');
}

.like_active {	
	width: 32px;
	height: 32px;
	background: no-repeat center/cover url('../../public/images/like-active.svg');
}