.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.heading {
	margin: 16px 0;
	text-align: center;	
	font-size: 24px;
	line-height: 170%;
	color: var(--primary);
	font-weight: 400;
}

.title {
	margin: 40px auto;
	width: 100%;
	max-width: 600px;
}

.paragraph {		
	font-size: 14px;
	line-height: 190%;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}