.intro {
	background: no-repeat center/cover url('../../public/images/intro-bg.jpg');
	height: 100vh;
	color: var(--white);
}

.intro__container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.intro__inner {
	text-align: center;
	height: 100%;
    
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro__nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding: 20px 0;
	justify-content: space-between;
}

.intro__logo {
	font-family: var(--open-sans);
	font-weight: bold;
	font-size: 24px;
	line-height: 170%;
}

.intro__whatsapp {
	display: flex;
	align-items: center;
}

.intro__whatsapp img {
	margin-right: 13px;
}

.intro__icons {
	display: flex;
	align-items: center;
}

.intro__icons img {
	margin-left: 12px;
}

.intro__inner h1 {
	font-family: var(--ubuntu);
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 150%;
}

.intro__inner p {
	font-size: 20px;
	line-height: 200%;
	margin-top: 40px;
	margin-bottom: 80px;
}

.intro__menuitem {
	font-weight: normal;
	font-size: 16px;
	line-height: 190%;
	text-decoration: none;
	color: var(--white);
	margin-right: 24px;
}

.intro__menuitem:hover {
	color: var(--sea);
}

.intro__button {
	font-size: 16px;
	line-height: 190%;
	color: var(--dark);
	text-decoration: none;
	background: var(--gradient);
	background-color: var(--sea);
	border-radius: 200px;
	padding: 8px 80px;
}

.intro__button:hover {
	background: var(--gradient-reverse);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.intro__button:active {
	background: var(--sea);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.intro__arrow {
	display: block;
	height: 100px;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	background: no-repeat center/40px url('../../public/images/arrow.webp');
}

.intro_small_menu {
	position: relative;
	display: none;
	justify-content: space-between;
	min-height: 60px;
	align-items: center;
}

.small_intro_logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	
	font-family: var(--open-sans);
	font-weight: bold;
	font-size: 24px;
	line-height: 170%;
}

.small_menu_icons {
	display: flex;
	align-items: center;
}

.small_menu_icons img {
	margin-left: 24px;
	cursor: pointer;
}

.small_menu_icons img:hover {
	opacity: .7;
}

.popup_menu {
	background-color: transparent;
}

.nav_fixed_container {
	position: fixed; 
	top: 0;
	left: 50%;
	right: 0;
	width: 100%;
	transform: translate(-50%);
	background-color: #6766A9;
	z-index: 100;
	height: 80px;
	display: flex;
	justify-content: center;
}

.intro__nav_fixed {
	width: 1300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_small_fixed_container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #6766A9;
	z-index: 100;
}

.intro_small_menu_fixed {
	display: flex;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

@media screen and (max-width: 1350px) {
	.intro__container {
		width: 90%;
	}

	.intro__nav_fixed {
		width: 90%;
	}
}

@media screen and (max-width: 1023px) {
	.intro {
		height: auto;
	}

	.intro__nav {
		display: none;
	}

	.nav_fixed_container {
		display: none;
	}

	.intro_small_menu {
		display: flex;
	}

	.nav_small_fixed_container {
		position: fixed;
		display: block;
	}

	.intro__inner h1 {
		font-size: 44px;
	}

	.intro__inner p {
		font-size: 20px;
		line-height: 200%;
		margin-top: 40px;
		margin-bottom: 80px;
	}

	.intro__inner {
		min-height: calc(100vh - 60px); 
		height: auto;
	}

	.intro__arrow {
		height: 100px;
	}

	.intro__inner p {
		font-size: 18px;
		line-height: 200%;
	}

}

@media screen and (max-width: 767px) {
	.intro__inner h1 {
		font-size: 28px;
	}

	.intro__inner p {
		font-size: 16px;
		line-height: 190%;
	}
}


@media screen and (max-width: 599px) {
	.small_whatsapp {
		display: none;
	}

	.small_menu_icons img {
		margin-left: 12px;
	}
}

@media screen and (max-width: 360px) {
	.intro__button {
		width: 100%;
		padding: 8px 0;
	}
}
