.tab_container {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.nav {
	height: 100%;
	border-left: 2px solid var(--primary);
	margin-top: 40px;
}

.nav_link {
	display: block;
	font-size: 16px;
	line-height: 190%;
	padding: 9px 24px;
	cursor: pointer;
}

.nav_link:hover {
	background-color: var(--steel-light);
}

.active {
	background-color: var(--steel-light);
}

.tab_inner {
	width: 75%;
}

@media screen and (max-width: 1023px) {
	.tab_container {
		display: none;
	}

}