.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding-bottom: 100px;
}

.image_1 {
	grid-area: image_1;
}

.image_2 {
	grid-area: image_2;
}

.image_3 {
	grid-area: image_3;
}

.image_4 {
	grid-area: image_4;
}

.image_5 {
	grid-area: image_5;
}

.image_6 {
	grid-area: image_6;
}

.image_7 {
	grid-area: image_7;
}

.image_8 {
	grid-area: image_8;
}

.image_9 {
	grid-area: image_9;
}

.image {
	position: relative;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	overflow: hidden;
}

.picture {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary);
	opacity: 0;
}

.cover:hover {
	opacity: 0.3;
}

.inner {
	margin-top: 60px;
	display: grid;
	gap: 25px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	grid-template-areas:
		"image_1 image_1 image_1 image_1 image_2 image_2 image_2 image_2 image_2 image_3 image_3 image_3"
		"image_1 image_1 image_1 image_1 image_2 image_2 image_2 image_2 image_2 image_3 image_3 image_3"
		"image_1 image_1 image_1 image_1 image_2 image_2 image_2 image_2 image_2 image_9 image_9 image_9"
		"image_4 image_4 image_5 image_5 image_6 image_6 image_6 image_7 image_7 image_9 image_9 image_9"
		"image_4 image_4 image_5 image_5 image_6 image_6 image_6 image_8 image_8 image_9 image_9 image_9";
}

.popup {
	position: fixed;
	background-color: rgba(0,0,0, 0.7);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.popup_inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.popup_inner button {
	position: absolute;
	top: -30px;
	right: -30px;
	background-color: transparent;
	display: flex;
	align-items: center;
	color: var(--white);
}

.popup_inner button img {
	margin-left: 10px;
}

.popup_img {
	max-height: 80vh;
	max-width: 80vw;
}

.frame {
	width: 1000px;
	height: 600px;
	max-width: 80vw;
	max-height: 80vh;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}

	.inner {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 1250px) {

	.inner {
		display: grid;
		gap: 20px;
		grid-template-rows: 120px 120px 120px 120px 120px 120px 120px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"image_1 image_1 image_1 image_2 image_2 image_2"
			"image_1 image_1 image_1 image_2 image_2 image_2"
			"image_1 image_1 image_1 image_2 image_2 image_2"
			"image_6 image_6 image_4 image_4 image_5 image_5"
			"image_6 image_6 image_4 image_4 image_5 image_5"
			"image_7 image_7 image_3 image_3 image_3 image_3"
			"image_8 image_8 image_3 image_3 image_3 image_3"
	}

	.image_9 {
		display: none;
	}

}