.content {
	flex: 0 0 auto;
}

.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding: 40px 0;
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.copyright {
	display: flex;
	flex-direction: column;
}

.copyright a {
	font-size: 14px;
	text-decoration: none;
	color: inherit;
	margin-bottom: 15px;
}

.copyright p {
	font-size: 14px;
	text-decoration: none;
	color: inherit;
	margin-bottom: 15px;
}

.copyright a:hover {
	color: var(--sea);
}

.menu {
	display: flex;
	flex-direction: column;
}

.menu a {
	font-size: 14px;
	text-decoration: none;
	color: inherit;
	margin-bottom: 15px;
}

.menu a:hover {
	color: var(--sea);
}

.contacts {
	display: flex;
	flex-direction: column;
}

.contacts a {
	text-decoration: none;
	color: var(--primary);
	
	font-size: 14px;
	margin-bottom: 15px;
}

.contacts a:hover {
	color: var(--sea);
}

.contacts p {
	font-size: 14px;
	margin-bottom: 15px;
}

.socials a {
	margin-right: 15px;
	display: inline-block;
	border-radius: 64px;
	padding: 2px;
	background: var(--gray-light-2);
}

.socials a:hover {
	filter: drop-shadow(0px 4px 16px rgba(88, 125, 252, 0.4));
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 1199px) {
	.inner {
		display: flex;
		flex-wrap: wrap;
	}

	.menu {
		display: none;
	}

	.copyright {
		width: 50%;
	}

	.contacts {
		width: 50%;
	}

	.socials {
		width: 100%;
		order: 3;
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 767px) {
	.contacts {
		width: 100%;
		order: 1;
	}

	.socials {
		width: 100%;
		order: 2;
		margin-bottom: 20px;
	}

	.copyright {
		width: 100%;
		order: 3;
	}
}