.container {
	width: 90%;
	margin: 0 auto;
}

.cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary);
	opacity: 0;
}

.cover:hover {
	opacity: 0.3;
}

.slide {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px 0;
}

.figure {
	position: relative;
	padding-top: 90%;
	width: 100%;
	margin-bottom: 20px;
}

.image_1 {
	padding-top: 85%;
}

.image_4 {
	width: 48%;
	padding-top: 60%;
}

.image_5 {
	width: 48%;
	padding-top: 60%;
}

.image_2 {
	padding-top: 68%;
}

.image_6 {
	padding-top: 81%;
}

.image_8 {
	padding-top: 57%;
}

.image_7 {
	padding-top: 57%;
}

.image_3 {
	padding-top: 64%;
}

.image_9 {	
	padding-top: 133%;
}

.image {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.popup {
	position: fixed;
	background-color: rgba(0,0,0, 0.7);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.popup_inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.popup_inner button {
	position: absolute;
	top: -30px;
	right: 0px;
	background-color: transparent;
	display: flex;
	align-items: center;
	color: var(--white);
}

.popup_inner button img {
	margin-left: 10px;
}

.popup_img {
	max-height: 80vh;
	max-width: 100vw;
}

.frame {
	width: 1000px;
	height: 600px;
	max-width: 80vw;
	max-height: 80vh;
}