.content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.7);
	z-index: 990;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner {
	position: relative;
	display: inline-block;
	background-color: var(--gray-light-2);
	text-align: center;
	padding: 110px;
	border-radius: 64px;
}

.close {
	position: absolute;
	top: 40px;
	right: 40px;
	background-color: transparent;
}

.title {
	color: var(--dark);
	font-size: 24px;
	line-height: 170%;
	margin-top: 20px;
}

.paragraph {
	margin-top: 30px;
	font-size: 16px;
	line-height: 190%;
	max-width: 500px;
}

.button {
	background-color: transparent;
	color: var(--primary);
	margin-top: 8px;	
	font-size: 16px;
	line-height: 190%;
}

.button:hover {
	color: var(--sea);
}

@media screen and (max-width: 767px) {
	.paragraph {
		max-width: 100%;
	}
	.inner {
		padding: 10%;
		max-width: 90%;
	}
	.title {
		font-size: 20px;
		line-height: 170%;
	}
}

@media screen and (max-width: 425px) {
	.inner {
		padding: 20% 10%;
	}

	.paragraph {				
		font-size: 14px;
		line-height: 140%;
	}
}