
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.info a {
	text-decoration: none;
	color: var(--primary);
	font-size: 14px;
	line-height: 190%;
}

.info a:hover {
	text-decoration: underline;
}

.sum {
	font-size: 16px;
	line-height: 190%;
	padding: 2px 0;
	border-radius: 100px;
	border: 2px solid var(--gray-dark);
	background-color: var(--gray-light-2);
	width: 135px;
	text-align: center;
	margin-right: 20px;
}

.days {
	display: flex;
	margin-top: 30px;
}

.days_button {	
	font-size: 16px;
	line-height: 190%;
	border-radius: 100px;
	background-color: transparent;
	border: 2px solid var(--steel-dark);
	padding: 0 8px;
	margin-right: 8px;
}

.days_button:hover {
	background-color: var(--steel-light);
	border: 2px solid var(--steel-light);
}

.days_button_active {	
	background-color: var(--steel-dark);
	border: 2px solid var(--steel-dark);
}

.cost {
	display: flex;
	margin-top: 30px;
}

.cart {
	background-color: var(--primary);
	width: 135px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--gray-light-2);
	padding: 0 10px;
}

.cart:hover {
	background-color: #2F57E0;
}

.cart_opened {
	background-color: var(--primary);
	width: 135px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--gray-light-2);
	padding: 0 5px;
}

.cart_opened button {
	background: none;	
	color: var(--gray-light-2);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.selected {
	border: 2px solid var(--primary);
}

.selected:hover {
	border: 2px solid var(--primary);
}

.product {
	display: flex;
	border: 2px solid var(--primary);
	border-radius: 16px;
	margin-bottom: 25px;
	padding: 20px;
	position: relative;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 200px;
}

.product_inner {
	margin-left: 30px;
	width: 100%;
}

.link {
	margin-top: 5px;
}

.heading {
	display: flex;
	justify-content: space-between;
}

.heading button {
	background-color: transparent;
	padding: 0;
}

.disabled {
	cursor: inherit;
}

.desc {		
	color: var(--gray-dark);
	font-size: 14px;
	line-height: 190%;
}

.noDays {
	margin-top: 100px;
}

.char {
	cursor: pointer;
}

.selector {
	margin-top: 20px;
	position: relative;
}

.selector_default {
	background: var(--steel-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 135px;
	font-size: 16px;
	line-height: 190%;
	border-radius: 100px;
	padding: 5px 0;
}

.selector_list {
	position: absolute;
	width: 135px;
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	overflow: hidden;
}

.selector_list button {
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	padding: 10px 0;
	z-index: 30;
	background: var(--steel-light);
}

.like {
	position: absolute;
	top: 17px;
	right: 50px;
	background-color: transparent;
	width: 32px;
	height: 32px;
	background: no-repeat center/cover url('../../public/images/like.svg');
}

.like_active {
	position: absolute;
	top: 17px;
	right: 50px;
	background-color: transparent;
	width: 32px;
	height: 32px;
	background: no-repeat center/cover url('../../public/images/like-active.svg');
}

.like:hover, .like_active:hover {
	opacity: 0.7;
}

@media screen and (max-width: 767px) {
	.picture {
		width: 140px;
		height: 115px;
	}

	.img_fill {
		position: relative;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.product {
		padding: 10px;
		padding-bottom: 60px;
	}

	.product_inner {
		margin-left: 10px;
		width: calc(100% - 160px);
	}

	.cost {
		position: absolute;
		left: 10px;
		bottom: 10px;
	}

	.sum {
		margin-right: 10px;
	}

	.heading {
		width: 100%;	
		font-size: 14px;
		line-height: 140%;
	}

	.like {
		display: none;
	}

}

@media screen and (max-width: 424px) {
	.picture {
		width: 125px;
		height: 100px;
	}

	.cart {
		width: 120px;
	}

	.cart_opened {
		width: 120px;
	}

	.sum {
		width: 120px;
	}

	.selector_default {
		width: 120px;
		padding: 5px 0;
	}

	.selector_list {
		width: 120px;
		padding: 5px 0;
	}

	.heading h4 {
		word-break: break-all;
	}
}