.show_more {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-top: 40px;
	padding: 5px 30px;
	border: 2px solid var(--steel-light);
	border-radius: 16px;
	background-color: var(--gray-light-2);
	font-size: 16px;
	line-height: 190%;
	color: var(--primary);
	transition: .15s;
}

.show_more:hover {
	background-color: var(--steel-dark);
	border: 2px solid var(--steel-dark);
}

.show_more img {
	margin-left: 13px;
}
