.container {
	position: relative;
	
	width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding-bottom: 70px;
}

.catalog_tab_inner {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

.menu {
	width: 343px;
	margin: 0 auto;
	margin-top: 30px;
}

.menu_list {
	display: none;
	flex-direction: column;
	position: absolute;
	width: 343px;
	z-index: 50;
}

.menu_button {
	text-align: start;
	background-color: var(--gray-light-2);	
	padding: 8px 16px;
	font-size: 14px;
}

.menu_button:hover {
	background-color: var(--steel-light);
}

.active {
	display: flex;
}

.menu_default {
	background: var(--primary);
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 8px 16px;
	font-size: 14px;
	color: var(--gray-light-2);
	border-radius: 100px;
}

.content_small {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.inner_small {
	display: none;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}

	.catalog_tab_inner {	
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1023px) {
	.inner_small {
		display: block;
	}
}

@media screen and (max-width: 450px) {
	.menu {
		width: 100%;
	}

	.menu_list {
		width: 100%;
	}
}