.content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.1);
	z-index: 1000;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 10%;
	background-color: rgba(0,0,0, 0.7);
}

.inner {
	padding: 24px;
	background-color: var(--gray-light-2);
	width: 90%;
	max-width: 1000px;
	border-radius: 24px;
}

.close {
	font-size: 16px;
	line-height: 190%;
	color: var(--primary);
	text-decoration: none;
	background-color: transparent;
	margin-bottom: 10px;
}

.close:hover {
	text-decoration: underline;
}


.close img {
	margin-right: 15px;
}

.picture {
	position: relative;
	width: 48%;
	padding-bottom: 35%;
	border: 1px solid var(--steel-light);
	border-radius: 16px;
}

.img {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card {
	display: flex;
	justify-content: space-between;
}

.text {
	width: 48%;
}

.text h3 {
	font-size: 24px;
	line-height: 170%;
	margin-bottom: 10px;
}

.text p {
	font-size: 16px;
	line-height: 190%;
}

@media screen and (max-width: 767px) {
	.container {
		overflow: auto;
	}

	.card {
		flex-direction: column;
	}

	.picture {
		width: 100%;
		padding-bottom: 60%;
	}

	.text {
		margin-top: 15px;
		width: 100%;
	}
}