
.desktop {
	height: 500px;
	position: relative;
	border-radius: 16px;
	overflow: hidden;
}

.video__video {
	height: 500px;
	position: absolute;
}

.desktop:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .3;
	background: var(--primary);
	z-index: 10;
}

.video__container {
	width: 1300px;
	margin: 0 auto;
	height: 100%;
}

.text {
	position: absolute;
	width: 60%;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.paragraph {
	font-family: var(--pt-sans);
	font-size: 32px;
	line-height: 170%;
	color: var(--steel-light);
}

.button {
	display: block;
	font-size: 16px;
	line-height: 190%;
	color: var(--dark);
	text-decoration: none;
	background: var(--gradient);
	background-color: var(--sea);
	border-radius: 200px;
	margin-top: 60px;
	padding: 5px;
	width: 50%;
}

.button:hover {
	background: var(--gradient-reverse);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.button:active {
	background: var(--sea);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.mobile {
	position: relative;
	z-index: 20;
	height: 480px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup {
	position: fixed;
	background-color: rgba(0,0,0, 0.7);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.popup_inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.popup_inner button {
	position: absolute;
	top: -30px;
	right: 0px;
	background-color: transparent;
	display: flex;
	align-items: center;
	color: var(--white);
}

.popup_inner img {
	margin-left: 10px;
}

.frame {
	width: 1000px;
	height: 600px;
	max-width: 80vw;
	max-height: 80vh;
}

@media screen and (max-width: 1350px) {
	.video__container {
		width: 90%;
	}

	.video__inner {
		height: 100%;
	}
}

@media screen and (max-width: 769px) {
	.video__container {
		width: 100%;
	}

	.video__inner {
		border-radius: 0px;
	}

	.text {
		width: 100%;
	}

	.youtube {
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 40px 0;
	}

	.button {
		margin-top: 0px;
	}

}

@media screen and (max-width: 600px) {

	.frame {
		max-width: 100vw;
		max-height: 60vh;
	}
	
}

@media screen and (max-width: 500px) {

	.button {
		width: 80%;
	}

	.paragraph {
		font-size: 24px;
		line-height: 140%;
	}
	

}