
@import '../node_modules/swiper/swiper-bundle.css';

html,
body {
	color: var(--dark);
	background: var(--gray-light-2);

	font-family: 'Fira Sans', sans-serif;
}

h2 {
	font-family: var(--pt-sans);
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 170%;
	color: var(--primary);

	/* or 54px */

	text-align: center;
}

@media screen and (max-width: 767px) {
	h2 {	
		font-size: 24px;
		line-height: 150%;
	}

}

button {
	cursor: pointer;
	border: none;
}

:root {
	--primary: #5172e5;
	--steel-dark: #cad1f6;
	--steel-light: #e4e5fa;
	--sea: #2eebe8;
	--salad: #9afe8a;
	--dark: #011222;
	--gray-dark: #b2b4bb;
	--gray-light: #e0e0e0;
	--gray-light-2: #fefafd;
	--white: #ffffff;
	--gradient: linear-gradient(90.21deg, #9AFE8A -25.88%, #2EEBE8 53.96%, #587DFC 130.54%);
	--gradient-reverse: linear-gradient(90.21deg, #587DFC -25.88%, #2EEBE8 53.96%, #9AFE8A 130.54%);
    
	--open-sans: 'Open Sans Condensed', sans-serif;
	--pt-sans: 'PT Sans', sans-serif;
	--ubuntu: 'Ubuntu', sans-serif;
}

/*SWIPER EXAMPLES SETTINGS*//*SWIPER EXAMPLES SETTINGS*//*SWIPER EXAMPLES SETTINGS*//*SWIPER EXAMPLES SETTINGS*/

.swiper_examples {
	padding-bottom: 40px;
}

.swiper_examples .swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper_examples .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background-color: var(--primary);
	opacity: 1;
	margin: 0 10px !important;
}

.swiper_examples .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 14px;
	height: 14px;
	background-color: var(--gray-light-2);
	border: 2px solid var(--primary);
}

/*SWIPER EXAMPLES SETTINGS*//*SWIPER EXAMPLES SETTINGS*//*SWIPER EXAMPLES SETTINGS*//*SWIPER EXAMPLES SETTINGS*/

/*SWIPER EXX SETTINGS*//*SWIPER EXX SETTINGS*//*SWIPER EXX SETTINGS*//*SWIPER EXX SETTINGS*/

.swiper_exx {
	position: relative;
	background-color: var(--dark);
	height: 100%;
	min-height: 530px;
}

.swiper_exx::after {
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%);
	background: no-repeat center/120% url('../public/images/exx-bg.png');
	z-index: 5;
}

.swiper_exx .swiper-pagination {
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}

.swiper_exx .swiper-pagination-bullet {
	display: block;
	width: 8px;
	height: 8px;
	background-color: var(--gray-light-2);
	opacity: 1;
	margin: 0 10px !important;
}

.swiper_exx .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 14px;
	height: 14px;
	background-color: var(--dark);
	border: 2px solid var(--gray-light-2);
}

.swiper_exx .swiper-button-next {
	width: 64px;
	height: 64px;
	border: 2px solid var(--gray-light-2);
	border-radius: 100px;
	background: no-repeat center url('../public/images/exx-arrow.webp') var(--dark);
	top: 45%;
}

.swiper_exx .swiper-button-next::after {
	display: none;
}

.swiper_exx .swiper-button-prev {
	position: absolute;
	width: 64px;
	height: 64px;
	border: 2px solid var(--gray-light-2);
	border-radius: 100px;
	background: no-repeat center url('../public/images/exx-arrow-back.webp') var(--dark);
	top: 45%;
}

.swiper_exx .swiper-button-prev::after {
	display: none;
}

.swiper_exx .swiper-wrapper {
	padding: 60px 0 180px;
}

.swiper_exx .swiper-container {
	position: relative;
	z-index: 15; 
}

@media screen and (max-width: 1200px) {
	.swiper_exx::after {
		background: no-repeat center/140% url('../public/images/exx-bg.webp');
	}
}

@media screen and (max-width: 1025px) {
	.swiper_exx .swiper-wrapper {
		padding: 60px 0 120px;
	}

	.swiper_exx .swiper-button-prev {
		display: none;
	}

	.swiper_exx .swiper-button-next {
		display: none;
	}
}

@media screen and (max-width: 769px) {
	.swiper_exx .swiper-wrapper {
		padding: 20px 0 20px;
	}

	.swiper_exx {
		min-height: 400px;
	}
}

@media screen and (max-width: 767px) {
	.swiper_exx::after {
		display: none;
	}

	.swiper_exx {
		min-height: 0;
	}

	.swiper_exx {
		padding-bottom: 20px;
	}

	.swiper_exx .swiper-pagination {
		position: absolute;
		bottom: 10px;
	}
}

/*SWIPER EXX SETTINGS*//*SWIPER EXX SETTINGS*//*SWIPER EXX SETTINGS*//*SWIPER EXX SETTINGS*/

/*EXX TABS SETTINGS*//*EXX TABS SETTINGS*//*EXX TABS SETTINGS*//*EXX TABS SETTINGS*/

.exx_inner .nav-tabs {
	display: flex;
	justify-content: center;
}

.exx_inner .nav-link {
	display: block;
	margin: 0 15px;
	font-size: 20px;
	line-height: 200%;
	color: var(--steel-dark);
	background: (--dark);
	border: 2px solid var(--steel-dark);
	cursor: pointer;
	padding: 0 15px;
	border-radius: 50px;
}

.exx_inner .nav-linkactive {
	display: block;
	margin: 0 15px;
	font-size: 20px;
	line-height: 200%;
	color: var(--dark);
	background: var(--steel-dark);
	border: 2px solid var(--steel-dark);
	cursor: pointer;
	padding: 0 15px;
	border-radius: 50px;
}

@media screen and (max-width: 767px) {
	.exx_inner .nav-link {
		margin: 0;		
		font-size: 16px;
		line-height: 190%;
	}

	.exx_inner .nav-linkactive {
		margin: 0;		
		font-size: 16px;
		line-height: 190%;
	}

	.exx_inner .nav-tabs {
		display: flex;
		justify-content: space-around;
	}
}	

@media screen and (max-width: 360px) {
	.exx_inner .nav-tabs {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.exx_inner .nav-link {
		margin-bottom: 10px;
	}

	.exx_inner .nav-linkactive {
		margin-bottom: 10px;
	}
}	
	
/*EXX TABS SETTINGS*//*EXX TABS SETTINGS*//*EXX TABS SETTINGS*//*EXX TABS SETTINGS*/

/*SWIPER GALLERY SETTINGS*//*SWIPER GALLERY SETTINGS*//*SWIPER GALLERY SETTINGS*//*SWIPER GALLERY SETTINGS*/

.swiper_gallery .swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper_gallery .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background-color: var(--primary);
	opacity: 1;
	margin: 0 10px !important;
}

.swiper_gallery .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 14px;
	height: 14px;
	background-color: var(--gray-light-2);
	border: 2px solid var(--primary);
}

/*SWIPER GALLERY SETTINGS*//*SWIPER GALLERY SETTINGS*//*SWIPER GALLERY SETTINGS*//*SWIPER GALLERY SETTINGS*/
