.content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--dark);
	z-index: 1020;
	color: var(--gray-light-2);
}

.container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.inner {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 12px 0;
}

.back {
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.back:hover {
	text-decoration: underline;
}

.back img {
	margin-right: 15px;
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.close {
	background-color: transparent;
	color: inherit;
	display: flex;
	align-items: center;
}

.close img {
	margin-left: 8px;
}

.section {
	flex-grow: 1;
}

.footer {	
	display: flex;
	justify-content: center;
	padding: 12px 0;
}

.link {
	color: inherit;
	text-decoration: none;
	font-size: 14px;
	line-height: 190%;
	margin: 0 12px;
}

.link:hover {
	color: var(--sea);
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_inner {
	width: 650px;
}

.title {
	color: inherit;
	font-size: 32px;
	line-height: 170%;
	/* or 54px */

	text-align: center;
}

.paragraph {
	text-align: center;
	margin-top: 40px;		
	font-size: 16px;
	line-height: 190%;
}

.form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.phone {
	outline: none;
	background: var(--gray-light-2);
	border-radius: 160px;
	border: none;
	width: 343px;
	font-size: 16px;
	line-height: 190%;
	text-align: center;
	padding: 5px 0;
	margin-bottom: 16px;
}

.selector {
	position: relative;
	width: 343px;
}

.selector_default {	
	background: var(--steel-light);
	border-radius: 160px;
	border: none;
	width: 100%;
	font-size: 16px;
	line-height: 190%;
	text-align: center;
	padding: 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
}

.selector_list {	
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0 0 16px 16px;
	overflow: hidden;
	z-index: 1025;
	margin-top: -16px;
}

.selector_item {		
	font-size: 16px;
	line-height: 190%;
	padding: 8px 0;
	background: var(--gray-light-2);
}

.selector_item:hover {	
	background: var(--steel-light);
}

.opened {
	background-color: var(--primary);
	color: var(--gray-light-2);
	border-radius: 16px 16px 0 0;
}

.submit {
	width: 343px;		
	font-size: 16px;
	line-height: 190%;
	border-radius: 160px;
	border: none;
	cursor: pointer;
	color: var(--dark);
	background: var(--gradient);
	padding: 5px 0;
	margin-bottom: 16px;
}

.submit:hover {
	background: var(--gradient-reverse);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.submit:active {
	background: var(--sea);
	box-shadow: 0px 4px 24px rgba(90, 243, 234, 0.7);
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.fake_checkbox {	
	font-size: 12px;
	line-height: 190%;
}

.fake_checkbox span {	
	color: var(--sea);
	margin-left: 5px;
}

.checkbox+.fake_checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+.fake_checkbox::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 1px;
  margin-right: 10px;
  background-color: var(--sea);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.checkbox:checked+.fake_checkbox::before {
  background-image: url('../../public/images/check.svg');
}

.back2 {
	display: none;
	padding: 0 10px;
}

.close2 {
	display: none;
	background-color: transparent;
}

.header a {
	cursor: pointer;
}

@media screen and (max-width: 720px) {
	.section_inner {
		width: 100%;
	}
}

@media screen and (max-width: 630px) {
	.section_inner {
		width: 100%;
	}

	.back {
		display: none;
	}

	.close {
		display: none;
	}

	.back2 {
		display: flex;
	}

	.close2 {
		display: flex;
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.title {		
		font-size: 24px;
		line-height: 150%;
	}

	.paragraph {
		font-size: 14px;
		line-height: 140%;
	}
}

@media screen and (max-width: 425px) {
	.submit {
		width: 100%;
	}
	.selector {
		width: 100%;
	}
	.phone {
		width: 100%;
	}
}